---
import Layout from '../../layouts/Layout.astro'
import {getLastestLaunches, getLaunchBy} from '../../services/space-x'
const {id} = Astro.params
let launch:any

if(id) {
  launch = await getLaunchBy({id})
}

export const getStaticPaths = async() => {
  const launches = await getLastestLaunches()
  return launches?.map((i) => ({ params :{id:i?.id}}))

}
---

<Layout title={`Lanzamiento ${id}`}>
  <article class="flex gra-y-4 flex-col">
    <img class="w-52 h-auto" src={launch?.links?.patch?.small} alt={launch?.name}/>
    <h2 class="text-4xl text-white font-bold">{launch?.flight_number}</h2>
    <p class="text-lg">{launch?.details}</p>
  </article>
</Layout>
